@import '../../node_modules/bootstrap/scss/bootstrap',
'../../node_modules/swiper/swiper-bundle.min.css',
'../../node_modules/noty/src/noty',
'../../node_modules/noty/lib/themes/nest.css',
'index',
'register';

// colors
$primary: #ffc107;


body, html {
    height: 100%;
}

.slot {
    min-height: 100%;
}

.section {
    padding: 40px 0;

    &:nth-child(2n) {
        background: #f2f3f4;
    }
}

.form-control-primary:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba($primary, .35);
}
